/*Všechno sekce*/
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
p{
    font-family: "Mooli";
}
body {
    background-color: #081b29;
}
a{
    text-decoration: none;
    color: white;
}
.hr{
    border-color:#00abf0;
    margin-left: 10%;
    margin-right: 10%;
}

/*Navigační panel sekce*/
header {
    position: sticky;
    top: 0;
}
.navbar{
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-right: 10%;
    padding-left: 10%;
    justify-content: space-between;
    font-family: "MuseoModerno";
    font-weight: bold;
    background-color: #081b29;
}
.navbar .links{
    display: flex;
    gap: 40px;
    font-family: "MuseoModerno";
}
.navbar li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar a:hover{
    color: #00abf0;
}

/*Hlavní obsah sekce*/
.hlavni-obsah{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    justify-content: center;
    height: 100%!important;
    padding-bottom: 5%;
}
.secbar {
    width: 57%;
}
.secbar h1{
    color: white;
    line-height: 50px;
    font-family:"MuseoModerno";
    font-size: 60px;
}
.secbar h3{
    color: #00abf0;
    line-height: 100%;
    font-size: 32px;
    font-family: "MuseoModerno";
    margin: 0;
}
.secbar p{
    color: white;
    line-height: 150%;
    font-family: "Mooli";
    color: rgb(192,192,192);
    font-size: 120%;
}
.secbar .tlacitka{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.secbar .tlacitka a{
    text-decoration: none;
}
.secbar .tlacitka #vice{
    font-family: "MuseoModerno";
    padding: 15px 25px 15px;
    font-size: 20px;
    border-style: solid;
    border-color: #081b29;
    background-color: #00abf0;
    border-radius: 10px;
    color: #081b29;
    font-weight: bold;
    transition: color 1s ease;
    transition: background 1s ease;
}
.secbar .tlacitka #vice:hover{
    transition: 0.5s;
    background-color: #081b29;
    border-color: #00abf0;
    color: #00abf0;
}
.secbar .tlacitka #kontakt{
    font-family: "MuseoModerno";
    padding: 15px 25px 15px;
    font-size: 20px;
    border-style: solid;
    border-color: #00abf0;
    background-color: #081b29;
    border-radius: 10px;
    color: #00abf0;
    font-weight: bold;
    transition: color 1s ease;
    transition: background 1s ease;
}
.secbar .tlacitka #kontakt:hover{
    transition: 0.5s;
    background-color: #00abf0;
    border-color: #081b29;
    color: #081b29;
}
.link-btn{
    font-weight: bold;
    color: rgb(192,192,192);
}
.link-btn:hover{
    color:#00abf0;
}

/*Co dělám sekce*/
.sekce{
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 5%;
}
.artbar{
    color: white;
}
.artbar h1{
    font-family: "MuseoModerno";
    font-size: 60px;
    line-height: 1px;
}
.artbar p{
    line-height: 38px;
    font-size: 160%;
    font-family: "Mooli";
    margin-right: 10%;
    color: rgb(192,192,192);
}

/*Certifikáty*/
.certifikaty .certificates .box{
    border-style: solid;
    border-color: #00abf0;
    border-radius: 10px;
    padding: 1% 0 1%;
    text-align: center;
    width: 400px;
}

/*Portfolio*/
.boxes{
    padding-right: 10%;
    display: flex;
    gap: 2%;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.portfolio .boxes .box{
    border-style: solid;
    border-color: #00abf0;
    border-radius: 10px;
    text-align: center;
}

#cert-port{
    line-height: 100%;
    font-family: "MuseoModerno";
    margin: 0;
}

/*Footer*/
.posledniVse{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0;
    padding-top: 0;
}
.posledniVse p{
    font-family: "MuseoModerno";
}


/* Max. šířka 1080px zařízení */

@media only screen and (max-width: 1080px) {
    /*Všechno sekce*/
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
p{
    font-family: "MuseoModerno";
}
body {
    background-color: #081b29;
}
a{
    text-decoration: none;
    color: white;
}
.hr{
    border-color:#00abf0;
    margin-left: 10%;
    margin-right: 10%;
}

/*Navigační panel sekce*/
header {
    position: sticky;
    top: 0;
}
.navbar{
    display: flex;
    align-items: center;
    padding-top: 0;
    justify-content: space-between;
    font-family: "MuseoModerno";
    font-weight: bold;
    background-color: #081b29;
}
.navbar .links{
    display: flex;
    font-family: "MuseoModerno";
}
.navbar li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar a:hover{
    color: #00abf0;
}

/*Hlavní obsah sekce*/
.hlavni-obsah{
    align-items: centers;
    justify-content: center;
    text-align: center;
}
.secbar {
    width: 100%;
}
.secbar h1{
    color: white;
    line-height: 25px;
    font-family:"MuseoModerno";
    font-size: 60px;
}
.secbar h3{
    color: #00abf0;
    line-height: 100%;
    font-size: 32px;
    font-family: "MuseoModerno";
    margin: 0;
}
.secbar p{
    color: white;
    line-height: 150%;
    font-family: "Mooli";
    color: rgb(192,192,192);
    font-size: 120%;
}
.secbar .tlacitka{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}
.secbar .tlacitka a{
    text-decoration: none;
}
.secbar .tlacitka #vice{
    font-family: "MuseoModerno";
    padding: 15px 25px 15px;
    font-size: 20px;
    border-style: solid;
    border-color: #081b29;
    background-color: #00abf0;
    border-radius: 10px;
    color: #081b29;
    font-weight: bold;
    transition: color 1s ease;
    transition: background 1s ease;
}
.secbar .tlacitka #vice:hover{
    transition: 0.5s;
    background-color: #081b29;
    border-color: #00abf0;
    color: #00abf0;
}
.secbar .tlacitka #kontakt{
    font-family: "MuseoModerno";
    padding: 15px 25px 15px;
    font-size: 20px;
    border-style: solid;
    border-color: #00abf0;
    background-color: #081b29;
    border-radius: 10px;
    color: #00abf0;
    font-weight: bold;
    transition: color 1s ease;
    transition: background 1s ease;
}
.secbar .tlacitka #kontakt:hover{
    transition: 0.5s;
    background-color: #00abf0;
    border-color: #081b29;
    color: #081b29;
}
.link-btn{
    font-weight: bold;
    color: rgb(192,192,192);
}
.link-btn:hover{
    color:#00abf0;
}

/*Co dělám sekce*/
.sekce{
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 5%;
}
.artbar{
    color: white;
}
.artbar h1{
    font-family: "MuseoModerno";
    font-size: 60px;
    line-height: 1px;
}
.artbar p{
    line-height: 38px;
    font-size: 160%;
    font-family: "Mooli";
    margin-right: 10%;
    color: rgb(192,192,192);
}

/*Certifikáty*/
.certifikaty .certificates .box{
    border-style: solid;
    border-color: #00abf0;
    border-radius: 10px;
    padding: 1% 0 1%;
    text-align: center;
    width: 400px;
}

/*Portfolio*/
.boxes{
    padding-right: 10%;
    display: flex;
    gap: 2%;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.portfolio .boxes .box{
    border-style: solid;
    border-color: #00abf0;
    border-radius: 10px;
    text-align: center;
}

#cert-port{
    line-height: 100%;
    font-family: "MuseoModerno";
    margin: 0;
}

/*Footer*/
.posledniVse{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0;
    padding-top: 0;
}
.posledniVse p{
    font-family: "MuseoModerno";
}
  }


/* 860px */

  @media only screen and (max-width: 880px) {
    /*Všechno sekce*/
* {
    scroll-behavior: smooth;
}
p{
    font-family: "MuseoModerno";
}
body {
    background-color: #081b29;
}
a{
    text-decoration: none;
    color: white;
}
.hr{
    border-color:#00abf0;
    margin-left: 10%;
    margin-right: 10%;
}

/*Navigační panel sekce*/
.hamburger{
    display: block;
    cursor: pointer;
}
.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}
.navbar{
    /*
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "MuseoModerno";
    font-weight: bold;
    background-color: #081b29;
    margin-top: 0;
    */
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
}

.navbar .links{
    font-family: "MuseoModerno";
    position: absolute;
    top: 50%;
    /* left: 0; */
    right: 0;
    height: 0;
    transition: 0.5s;
    overflow: hidden;
    display: block;
    text-align: center;
    padding: 0 5% 0;
    background-color: white;
    background: transparent;
    backdrop-filter: blur(3px);
}
/*
.navbar .links ul{
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
}
*/
.links.activate{
    padding: 4% 8% 1%;
    height: 200px;
    border-radius: 10px;
}
.tlacitko{
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
    transition: color 1s ease;
    transition: background 1s ease;
    padding: 1% 10% 1%;
    margin-bottom: 3%;
    background-color: #00abf0;
}
.tlacitko li a{
    color:#081b29;
}
.tlacitko li a:hover{
    color:#00abf0;
}
.tlacitko:hover{
    background-color: #081b29;
    border-color: #00abf0;
}
.links.activate ul{
    opacity: 1;
}
.navbar li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar a:hover{
    color: #00abf0;
}

/*Hlavní obsah sekce*/
.hlavni-obsah{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.secbar {
    width: 100%;
}
.secbar h1{
    color: white;
    line-height: 60px;
    font-family:"MuseoModerno";
    font-size: 60px;
}
.secbar h3{
    color: #00abf0;
    line-height: 100%;
    font-size: 32px;
    font-family: "MuseoModerno";
    margin: 0;
}
.secbar p{
    color: white;
    line-height: 150%;
    font-family: "Mooli";
    color: rgb(192,192,192);
    font-size: 120%;
}
.secbar .tlacitka{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}
.secbar .tlacitka a{
    text-decoration: none;
}
.secbar .tlacitka #vice{
    font-family: "MuseoModerno";
    padding: 15px 25px 15px;
    font-size: 20px;
    border-style: solid;
    border-color: #081b29;
    background-color: #00abf0;
    border-radius: 10px;
    color: #081b29;
    font-weight: bold;
    transition: color 1s ease;
    transition: background 1s ease;
}
.secbar .tlacitka #vice:hover{
    transition: 0.5s;
    background-color: #081b29;
    border-color: #00abf0;
    color: #00abf0;
}
.secbar .tlacitka #kontakt{
    font-family: "MuseoModerno";
    padding: 15px 25px 15px;
    font-size: 20px;
    border-style: solid;
    border-color: #00abf0;
    background-color: #081b29;
    border-radius: 10px;
    color: #00abf0;
    font-weight: bold;
    transition: color 1s ease;
    transition: background 1s ease;
}
.secbar .tlacitka #kontakt:hover{
    transition: 0.5s;
    background-color: #00abf0;
    border-color: #081b29;
    color: #081b29;
}
.link-btn{
    font-weight: bold;
    color: rgb(192,192,192);
}
.link-btn:hover{
    color:#00abf0;
}

/*Co dělám sekce*/
.sekce{
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 5%;
}
.artbar{
    color: white;
}
.artbar h1{
    font-family: "MuseoModerno";
    font-size: 60px;
    line-height: 1px;
}
.artbar p{
    line-height: 38px;
    font-size: 160%;
    font-family: "Mooli";
    margin-right: 10%;
    color: rgb(192,192,192);
}

/*Certifikáty*/
.certifikaty .certificates .box{
    border-style: solid;
    border-color: #00abf0;
    border-radius: 10px;
    padding: 1% 0 1%;
    text-align: center;
    width: 400px;
}

/*Portfolio*/
.boxes{
    padding-right: 10%;
    display: flex;
    gap: 2%;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.portfolio .boxes .box{
    border-style: solid;
    border-color: #00abf0;
    border-radius: 10px;
    text-align: center;
}

#cert-port{
    line-height: 100%;
    font-family: "MuseoModerno";
    margin: 0;
}

/*Footer*/
.posledniVse{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0;
    padding-top: 0;
}
.posledniVse p{
    font-family: "MuseoModerno";
}
  }
